* {
    padding: 0;
    margin: 0;
    transition: all 0.3s;
}

.play-screen {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #0b8262;
    // background-color: #0b8261;


    width: 100%;
    height: 100vh;

    .container {
        width: 100%;
        max-width: 1200px;

        background: url(../assets/images/title_background.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        display: flex;
        align-items: center;
        justify-content: center;

        .play {


            .img-container {
                width: 600px;
                height: 400px;
                background-color: #ffffff00;

                display: flex;
                align-items: center;
                justify-content: center;

                border-radius: 12px;


                @media screen and (max-width: 657px) {
                    width: 100%;
                    height: 400px;

                }
            }


            .buttons {
                margin-top: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .margin-righ {
                    margin-right: 4rem;
                }

                a {
                    text-decoration: none;
                    text-align: center;
                    // background-color: #fff;
                    padding: 15px;
                    border-radius: 12px;

                    width: 150px;

                    transition: all 0.3s;

                    img {
                        width: 100%;
                        max-width: 150px;
                    }

                    @media screen and (max-width: 657px) {
                        width: 100px;

                    }

                    &:active {
                        transform: scale(1.2);
                    }

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}


.level-screen {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #0b8261;

    width: 100%;
    height: 100vh;

    .container {
        width: 100%;
        max-width: 1200px;

        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;

        .level-select {
            color: #fff;

            margin-bottom: 2rem;
        }

        .level {

            a {
                text-decoration: none;
            }

            .cards {
                display: flex;
                align-items: center;
                justify-content: center;

                .card {
                    background: #93d0ab;
                    height: 400px;
                    width: 280px;

                    border-radius: 26px;

                    margin: 10px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    flex-direction: column;

                    &:hover {
                        scale: 1.05;
                    }

                    .image {
                        position: relative;

                        .heading {

                            // width: 300px;
                            // height: 100px;
                            width: 240px;
                            position: absolute;
                            bottom: 10px;
                            left: 50%;

                            transform: translateX(-50%);
                            background-color: #0b8261;
                            padding: 10px;
                            color: #fff;
                            border-radius: 10px;

                            text-align: center;
                        }

                        .img_heading {

                            // width: 300px;
                            // height: 100px;
                            width: 240px;
                            position: absolute;
                            bottom: 10px;
                            left: 50%;

                            transform: translateX(-50%);

                            text-align: center;
                        }

                        img {
                            width: 100%;

                            max-width: 250px;

                        }

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        flex-direction: column;
                    }
                }
            }
        }
    }
}